.font {
  font-family: 'Roboto', sans-serif;
}
body {
  background: #EEEDE2;
}
/* SLIDER ----------------------- */
.slider img {
  width: 100%;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 9;
  font-size: 0;
  background: transparent;
  border: none;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: -22px 10px 0 10px;
  cursor: pointer;
}
.slick-arrow:focus {
  outline: none;
}
.slick-arrow:after {
  font: normal normal normal 44px/1 FontAwesome;
}
.slick-arrow.slick-prev {
  left: 0;
}
.slick-arrow.slick-prev:after {
  content: "\f053";
}
.slick-arrow.slick-next {
  right: 0;
}
.slick-arrow.slick-next:after {
  content: "\f054";
}
/* SITE ########################################################## */
.topbar {
  background: #463C6C;
  font-size: 0.7rem;
  padding: 4px 0;
  color: #91B6D8;
}
.topbar a {
  color: #91B6D8;
}
.topbar strong {
  color: #91B6D8;
}
.navbar {
  background: #fff;
  z-index: 99 !important;
}
.navbar a {
  color: #000;
}
.navbar a.is-active {
  background-color: #F3F3F3 !important;
}
.hr {
  width: 100%;
  height: 100px;
  background-image: url(img/ramonaPectu-imago.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 40px 0;
}
.hr.mid {
  margin-top: -50px;
  margin-bottom: -50px;
  z-index: 999;
  position: relative;
}
#inicio {
  background-image: url(img/ramonapectu-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  min-height: 1024px;
  margin-bottom: -400px;
}
#inicio h2 {
  margin-top: 140px;
}
h2 {
  font-weight: 900;
  font-size: 2.4rem;
  color: #463C6C;
  margin-bottom: 10px;
  margin-top: 40px;
}
p {
  color: #586E82;
  font-size: 1.2rem;
}
p strong {
  color: #463C6C;
}
#formacion .card .card-content {
  background: #463C6C;
  padding: 8px 4px;
  position: relative;
}
#formacion .card .card-content .content p {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.1;
}
#formacion .card .card-content:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 12px;
  background: url(img/shadow.svg) center bottom no-repeat;
  background-size: 100%;
}
#que-hago {
  margin-bottom: 140px;
}
#que-hago .card {
  background: transparent;
  box-shadow: none;
}
#que-hago .card .card-header {
  text-align: center;
  box-shadow: none;
}
#que-hago .card .card-header-title {
  justify-content: center;
  color: #91B6D8;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.2;
}
#que-hago .card p {
  font-size: 1rem;
}
#que-hago .card a {
  color: #91B6D8;
  font-size: 0.9rem;
  font-weight: bold;
}
#tanatologia {
  background-image: url(img/tanatologia.jpg);
}
#biodescodificacion {
  background-image: url(img/biodescodificacion.jpg);
}
#biodescodificacion .corner path {
  fill: #141414;
}
#tanatologia,
#biodescodificacion {
  position: relative;
  padding: 160px 0;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
#tanatologia .corner,
#biodescodificacion .corner {
  position: absolute;
  right: 0;
  top: 0;
}
#tanatologia p.main,
#biodescodificacion p.main {
  margin: 20px 0;
}
#tanatologia p.sec,
#biodescodificacion p.sec {
  margin: 40px 0;
  font-size: .9rem;
}
#tanatologia p a,
#biodescodificacion p a {
  display: block;
  color: #463C6C;
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
  padding: 5px;
  background: rgba(238, 237, 226, 0.7);
}
#tanatologia .box,
#biodescodificacion .box {
  background: #EEEDE2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border: none;
  padding: 20px;
}
#tanatologia .box p,
#biodescodificacion .box p {
  font-size: 0.9rem;
  margin: 20px 0;
}
#tanatologia .box,
#biodescodificacion .box {
  display: none;
}
#tanatologia blockquote,
#biodescodificacion blockquote {
  padding: 40px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
#contacto {
  padding: 140px 0;
}
#contacto .input,
#contacto textarea {
  border: none;
  border-radius: 0;
  margin: 8px 0;
  padding: 30px 10px;
}
#contacto .input::placeholder,
#contacto textarea::placeholder {
  color: #91B6D8;
}
#contacto .button {
  padding: 30px 10px;
  line-height: .4;
  background: #463C6C;
  color: #91B6D8;
}
#contacto .button:hover {
  background: #586E82;
}
#contacto p,
#contacto a {
  font-size: 0.9rem;
  margin-top: 10px;
}
#contacto a {
  color: #586E82;
}
#contacto iframe {
  margin: 10px 0;
}
.notification.is-info {
  background: #586E82;
  display: none;
}
/*# sourceMappingURL=app.css.map */